@{
}

@model IEnumerable<string>

<style>
    select {
        height: 2.5rem;
        border-radius: 25px;
        width: 8rem;
        text-align: center;
        font-size: medium;
        font-weight: 600
    }
</style>

<select onchange="window.location = this.options[this.selectedIndex].value;">
    <option value="">Category</option> @*Default value, nothing happens when you click it*@
    @foreach (string ct in Model ?? Enumerable.Empty<string>()) {
        var prodColor = ViewBag.CurrentProdColor ?? null; // If it is null, it will not filter by color
        var url = Url.Action("Shop", "Home", new { prodCategory = ct, prodColor, pageNum = 1 });
        @if (ct == ViewBag.CurrentProdCategory) {
             <option selected value="@url">@ct</option>
        }
        else {
            <option value="@url">@ct</option>
        }
    }
</select>
