@{
}

@model IEnumerable<string>

<select onchange="window.location = this.options[this.selectedIndex].value;">
    <option value="">Color</option> @*Default value, nothing happens when you click it*@
    @foreach (string cl in Model ?? Enumerable.Empty<string>()) {
        var prodCategory = ViewBag.CurrentProdCategory ?? null; // If it's null, it will not filter by category
        var url = Url.Action("Shop", "Home", new { prodCategory, prodColor = cl, pageNum = 1 });
        @if (cl == ViewBag.CurrentProdColor) {
            <option selected value="@url">@cl</option>
        }
        else {
            <option value="@url">@cl</option>
        }
    }
</select>