@{
}

@model IEnumerable<string>

<!--FIX THIS FOR IF YOU ARE TRYING TO SELECT FROM ANOTHER CATEGORY PAGE-->
<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value + '/1');">
    <option value="">Color</option> @*Default value, nothing happens when you click it*@
    @foreach (string cl in Model ?? Enumerable.Empty<string>()) {
        @if (cl == ViewBag.SelectedProdColor) {
            <option selected>@cl</option>
        }
        else {
            <option value="@cl">@cl</option>
        }
    }
</select>