@{
    ViewData["Title"] = "About Us | AuroraBricks";
}

﻿<div class="hero" style="padding: 0px;">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>About us</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<img src="~/images/aboutuskid.png" height="500" style="width: 100%;" />
</div>

<div style="text-align: center; padding: 20px; border: 2px solid black; background-color: #f8f8f8;">
	<!-- Add class to h1 for consistency and control over styles -->
	<h1 class="section-title" style="font-size: 50px; margin-bottom: 10px;">
		The Aurora Bricks History
	</h1>
	<!-- Add a class to h4 and adjust the styles -->
	<h4 style="font-size: 20px; color: black; font-family: 'Arial', sans-serif; line-height: 1.5; margin-top: 0;">
		Founded in 2022 by Jordan Bateman and based on the iconic LEGO brick, Aurora Bricks is one of the world's most inspiring sellers of LEGOs. The company's mission is to ignite creativity and imagination in children and adults alike through its curated selection of LEGO sets and unique, custom brick creations. Aurora Bricks has quickly become a favorite destination for LEGO enthusiasts and collectors, offering unparalleled customer service and a welcoming community for builders of all ages.

		The company is known for its commitment to sustainability, implementing eco-friendly practices in its operations and supporting local initiatives. Aurora Bricks has received numerous accolades for its innovative product offerings and contributions to the LEGO community. Whether you are a lifelong LEGO fan or a curious beginner, Aurora Bricks invites you to discover the endless possibilities of building with LEGO.
	</h4>
</div>
