@{
}

@model Order

<div>
	<div class="container">
		<div class="intro-excerpt" style="text-align: center;">
			<br />
			<h2>Checkout</h2>
			<br />
		</div>
	</div>
</div>
<form method="post" style="max-width: 600px; margin: 0 auto; padding: 2rem; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h4>Your Total: $@ViewBag.cartTotal</h4>
	<input asp-for="TransactionId" value="12" hidden />
    <input asp-for="CustomerId" hidden />
    <input asp-for="Date" value="@DateTime.Now" hidden/>
    <input asp-for="DayOfWeek" value="@DateTime.Today" hidden />-
    <input asp-for="Time" value="@DateTime.Now.Hour" hidden />
    <input asp-for="EntryMode" value="Online" hidden/>
	<input asp-for="Amount" value="@ViewBag.cartTotal" hidden />
	<br />
    <input asp-for="TypeOfTransaction" value="Online" hidden/>
	<br />
	<label asp-for="CountryOfTransaction">Select Your Country: </label>
	<select asp-for="CountryOfTransaction" style="display: block; width: 100%; padding: 0.5rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 15px; box-sizing: border-box;">
		<option value="" disabled>- Select a Country -</option>
		<option value="Australia" >Australia</option>
		<option value="Brazil">Brazil</option>
		<option value="Canada">Canada</option>
		<option value="China">China</option>
		<option value="France">France</option>
		<option value="Germany">Germany</option>
		<option value="India">India</option>
		<option value="Indonesia">Indonesia</option>
		<option value="Italy">Italy</option>
		<option value="Japan">Japan</option>
		<option value="Mexico">Mexico</option>
		<option value="Netherlands">Netherlands</option>
		<option value="Russia">Russia</option>
		<option value="South Korea">South Korea</option>
		<option value="Spain">Spain</option>
		<option value="Switzerland">Switzerland</option>
		<option value="Turkey">Turkey</option>
		<option value="United Kingdom">United Kingdom</option>
		<option value="United States">United States</option>
		<option value="Vietnam">Vietnam</option>
    </select>
	<br />
    <label asp-for="ShippingAddress">Shipping Country: </label>
	<select asp-for="ShippingAddress" style="display: block; width: 100%; padding: 0.5rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 15px; box-sizing: border-box;">
		<option value="" disabled>- Select a Country -</option>
		<option value="Australia">Australia</option>
		<option value="Brazil">Brazil</option>
		<option value="Canada">Canada</option>
		<option value="China">China</option>
		<option value="France">France</option>
		<option value="Germany">Germany</option>
		<option value="India">India</option>
		<option value="Indonesia">Indonesia</option>
		<option value="Italy">Italy</option>
		<option value="Japan">Japan</option>
		<option value="Mexico">Mexico</option>
		<option value="Netherlands">Netherlands</option>
		<option value="Russia">Russia</option>
		<option value="South Korea">South Korea</option>
		<option value="Spain">Spain</option>
		<option value="Switzerland">Switzerland</option>
		<option value="Turkey">Turkey</option>
		<option value="United Kingdom">United Kingdom</option>
		<option value="United States">United States</option>
		<option value="Vietnam">Vietnam</option>
	</select>
	<br />
    <label asp-for="Bank">Select your Bank: </label>
	<select asp-for="Bank" style="display: block; width: 100%; padding: 0.5rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 15px; box-sizing: border-box;">
		<option value="Barclays">Barclays</option>
		<option value="Bank of America">Bank of America</option>
	</select>
	<br />
	<label asp-for="TypeOfCard">Card Type</label>
	<select asp-for="TypeOfCard" style="display: block; width: 100%; padding: 0.5rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 15px; box-sizing: border-box;">
		<option value="Visa">Visa</option>
		<option value="Master Card">Master Card</option>
	</select>
    <input asp-for="Fraud" value="0" hidden />
    <!--<input asp-for="PredFraud" value="0" hidden />-->
	<br />
	<button type="submit" style="display: block; width: 100%; padding: 0.75rem; border: none; border-radius: 15px; background-color: #007bff; color: white; cursor: pointer;">Submit!</button>
</form>
