@{
}

@model Order

<form method="post">
    <input asp-for="TransactionId" value="1" />
    <input asp-for="CustomerId" value="1" />
    <input asp-for="Date" value="1/1/01" />
    <input asp-for="DayOfWeek" value="Wed" />
    <input asp-for="Time" value="1" />
    <input asp-for="EntryMode" value="Tap" />
    <input asp-for="Amount" value="1" />
    <input asp-for="TypeOfTransaction" value="Online" />
    <input asp-for="CountryOfTransaction" value="United Kingdom" />
    <input asp-for="ShippingAddress" value="India" />
    <input asp-for="Bank" value="Barclays" />
    <input asp-for="TypeOfCard" value="Visa" />
    <input asp-for="Fraud" value="0" />
    <input asp-for="PredFraud" value="0" />

    <button type="submit">Submit!</button>
</form>
