@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="hero" style="padding: 0px; margin-bottom: 5rem;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h2>Your request has processed!</h2><br />
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>
</div>
<a class="btn btn-info" asp-controller="Home" asp-action="AdminReviewProducts">View Products</a>
<a class="btn btn-info" asp-controller="Home" asp-action="AdminAddProduct">Add another product</a>
