@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AspNetUser>
<!-- Start Hero Section -->
<div class="hero" style="padding: 0px; margin-bottom: 2rem;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Manage Users</h1>
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>

   
</div>
<table class="table">
    <thead>
        <tr>
            <td>UserName</td>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.UserName</td>
               

                <td><a class="btn btn-info" asp-controller="Home" asp-action="AdminEditUser" asp-route-id="@c.UserName">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteUser" asp-route-id="@c.UserName">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
