@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shop | AuroraBricks";
}

@model ProductsListViewModel

<div class="row">
    <div class="col-7">
        <h1>Shop</h1>
    </div>
    <div class="col">
        <vc:prod-categories />
    </div>
    <div class="col">
        <vc:prod-colors />
    </div>
    <div class="col">
        <!-- Dropdown menu for changing the number of results per page -->
        @using (Html.BeginForm("SetResultsPerPage", "Home", FormMethod.Post))
        {
            <label for="resultsPerPage">Results per page:</label>
            <select id="resultsPerPage" name="resultsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
            <button type="submit">Apply</button>
        }
    </div>
</div>

@if (Model.Products.Count() > 0) {
    @foreach (Product p in Model.Products) {
        <partial name="ProductSummary" model="p" />
    }

    <div page-model="@Model.PaginationInfo" page-action="Shop" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         page-url-projectType="@Model.CurrentProdCategory" class="btn-group pull-right m-1"></div>
}
else {
    <h2>No Products Match Your Filtering</h2>
}