@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{}

@model List<Product>

<br /><br />
@if (Model != null) {
	<div class="container" class="untree_co-section product-section before-footer-section">
		<div class="row">
			@foreach (Product p in Model) {
				<div class="col-12 col-md-4 col-lg-3 mb-5" style="width: 33.33%">
					<a class="product-item" style="height: 100%;" asp-area="" asp-controller="Home" asp-action="ProductDetail" 
					   asp-route-productId="@p.ProductId"
					   asp-route-returnUrl="@Model">
						<img src="@p.ImgLink" class="img-fluid product-thumbnail" onclick="redirectToProduct()">
						<h3 class="product-title text-center font-weight-bold" class="product-title">@p.Name</h3>
						<h5 class="product-title text-center font-weight-bold" class="product-price">$@p.Price</h5>
					</a>
				</div>
			}
		</div>
	</div>
} else {
	<div class="center" style="max-width: 600px; margin: 0 auto; padding: 2rem; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h3>Enter your username below</h3>
		<form method="post" >
			<input type="text" name="username" style="display: block; width: 100%; padding: 0.5rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 15px;">
			<button type="submit" style="display: block; width: 100%; padding: 0.75rem; border: none; border-radius: 15px; background-color: #007bff; color: white; cursor: pointer;">Submit</button>
        </form>
    </div>
}

