@{
}
<html lang="eng">
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" class="active" asp-area="" asp-controller="Home" asp-action="Index"><img src="images/AuroraBricksLogo.png" style="width: 30rem;"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home"
                       asp-action="Shop" asp-route-pageNum="1">Shop</a>
                </li>
                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                <li><a class="nav-link" href="services.html">Services</a></li>
                <li><a class="nav-link" href="contact.html">Contact us</a></li>
            </ul>
        </div>
    </div>
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <partial name="_LoginPartial" />
            <div class="navbar-text text-end">
                <vc:cart-summary />
            </div>
        </div>
    </div>
</nav>

<body>

    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>